<h1>Show Difference</h1>

<div fxHide.lt-md>
  <mat-form-field>
    <mat-label>Language:</mat-label>
    <mat-select
    (selectionChange)="changeLanguage($event.value)">
      <mat-option *ngFor="let lang of languages" [value]="lang">{{
        lang
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div
  fxLayout="row wrap"
  fxLayout.lt-md="column"
  fxLayoutGap="16px"
  style="min-height: 20vh; margin-bottom: 12px;"
>
  <ngx-monaco-editor
    fxHide.lt-md
    class="differ-editor"
    [options]="options"
    [(ngModel)]="originalText"
    (keyup)="compare()"
    (paste)="compare()"
    fxFlex.gt-md="0 1 calc(50% - 16px)"
    fxFlex.lt-lg="0 1 calc(50% - 16px)"
    fxFlex.xs="calc(100% - 16px)"
  ></ngx-monaco-editor>
  <textarea
    style="height: 20vh; resize: none;"
    fxHide.gt-sm
    class="differ-editor"
    [(ngModel)]="originalText"
    (keyup)="compare()"
    (paste)="compare()"
    (change)="compare()"
  ></textarea>

  <!-- ------------------------------------------------------------------------------  -->
  <ngx-monaco-editor
    fxHide.lt-md
    class="differ-editor"
    [options]="options"
    [(ngModel)]="comparisonText"
    (keyup)="compare()"
    (paste)="compare()"
    (onInit)="loaded()"
    fxFlex.gt-md="0 1 calc(50% - 16px)"
    fxFlex.lt-lg="0 1 calc(50% - 16px)"
    fxFlex.xs="calc(100% - 16px)"
  ></ngx-monaco-editor>
  <textarea
    style="height: 20vh; resize: none;"
    fxHide.gt-sm
    class="differ-editor"
    [(ngModel)]="comparisonText"
    (keyup)="compare()"
    (paste)="compare()"
    (change)="compare()"
  ></textarea>
</div>

<label>
  <input type="checkbox" (change)="toggleInline($event.target.checked)" />
  Inline Diff
</label>
<ngx-monaco-diff-editor
  class="differ-editor"
  [options]="options"
  [originalModel]="originalModel"
  [modifiedModel]="modifiedModel"
></ngx-monaco-diff-editor>
